<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Contact Information</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="css/styles.css">

  <link href="https://fonts.googleapis.com/css?family=Aleo|Montserrat" rel="stylesheet">

  <script src= "index.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</head>

<body>


  <section id="title">
    <!-- Nav Bar -->
    <nav class="navbar navbar-dark">
      <span class="navbar-brand mb-0 h1">The Accordion</span>
    </nav>
    <!-- Title -->
    <div class="container">
      <div class="row">
        <div class="col-md">
          <h1>Contact Information</h1>
        </div>
  </section>

  <!-- Side navigation -->
  <div class="sidenav">
    <a href="/">Home</a>
    <a href="contact">Contact</a>
    <a href="business">Business</a>
    <a href="insurance">Insurance History</a>
    <a href="review">Review</a>
    <a href="database">Database</a>

  </div>

  <!-- Page content -->

  <section id="general">

    <form action="/contact" method="post">
</div>
      <div class="form-row">

          <div class="form-group col-md-6">
            <label for="name">First Name</label>
            <input type="text" class="form-control" name="inputFirstName" placeholder="">

        </div>


          <div class="form-group col-md-6">
            <label for="name">Last Name</label>
            <input type="text" class="form-control" name="inputLastName" placeholder="">
          </div>

      </div>
      <div class="form-row">

      <div class="form-group col-md-6">
        <label for="inputEmail">Email</label>
        <input type="email" class="form-control" name="inputEmail" placeholder="Email Address">
      </div>
      <div class="form-group col-md-6">
        <label for="inputEmail">Phone Number</label>
        <input type="text" class="form-control" name="inputPhone" placeholder="">
      </div>
    </div>

      <div class="form-row">

      <div class="form-group col-md-6">
        <label for="bussinessName">Date of Birth</label>
        <input type="date" class="form-control" name="inputDOB" placeholder="">
      </div>
      <div class="form-group col-md-6">
        <label for="bussinessName">EIN or SSN</label>
        <input type="text" class="form-control" name="inputEIN_SSN" placeholder="">
      </div>
    </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputAddress">Mailing Address Line 1</label>
          <input type="text" class="form-control" name="inputAddress" placeholder="1234 Main St">
        </div>
        <div class="form-group col-md-6">
          <label for="inputAddress2">Mailing Address Line 2</label>
          <input type="text" class="form-control" name="inputAddress2" placeholder="Apartment #, studio, or floor">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputCity">City</label>
          <input type="text" class="form-control" name="inputCity">
        </div>
        <div class="form-group col-md-4">
          <label for="inputState">State</label>
          <input type="text" class="form-control" name="inputState">
          </select>
        </div>
        <div class="form-group col-md-2">
          <label for="inputZip">Zip Code</label>
          <input type="text" class="form-control" name="inputZip">
        </div>
      </div>
      <div class="form-group">
      </div>
      <button type="submit" class="btn btn-primary" href="/business" name="submit">Continue</button>
    </form>


  </section>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

</body>

</html>
