<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Insurance History</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="css/styles.css">

  <link href="https://fonts.googleapis.com/css?family=Aleo|Montserrat" rel="stylesheet">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</head>

<body>


  <section id="title">
    <!-- Nav Bar -->
    <nav class="navbar navbar-dark">
      <span class="navbar-brand mb-0 h1">The Accordion</span>
    </nav>
    <!-- Title -->
    <div class="container">
      <div class="row">
        <div class="col-md">
          <h1>Insurance History</h1>
        </div>
  </section>

  <!-- Side navigation -->
  <div class="sidenav">
    <a href="/">Home</a>
    <a href="contact">Contact</a>
    <a href="business">Business</a>
    <a href="insurance">Insurance History</a>
    <a href="review">Review</a>
    <a href="database">Database</a>

  </div>

  <!-- Page content -->

  <section id="insurance">

      <form action="/insurance" method="post">

      <div class="form-row">
      <div class="form-group col-md-6">
        <label for="bussinessName">Effective Date of new Policy</label>
        <input type="date" class="form-control" name="inputEffDate" placeholder="">
      </div>
    </div>
    <div class="form-row">

      <div class="form-group col-md-6">
        <label class="mr-sm-2" for="inlineFormCustomSelect">Filed any Claims or Loss Runs?</label>
        <select class="custom-select mr-sm-2" name="inputLossRun">
          <option selected>Choose...</option>
          <option value="noLoss">No</option>
          <option value="yesLoss">Yes</option>
          <option value="idkLoss">I don't know</option>
        </select>
      </div>
  </div>
      <div class="form-row">

      <div class="form-group col">
        <label for="bussinessName">Loss Run Description</label>
        <input type="text" class="form-control" name="inputLossDescription" placeholder="Describe Prior Incident">
      </div>
    </div>
      <div class="form-row">

          <div class="form-group col">
            <label for="insuranceHist">Previous Insurance Company</label>
            <input type="text" class="form-control" name="inputInsuranceHist" placeholder="">

        </div>

        <div class="form-group col">
          <label for="insuranceHistDate">Estimated Effective Date of Prior Insurance</label>
          <input type="date" class="form-control" name="inputInsuranceHistDate" placeholder="">

      </div>
      </div>
      <div class="form-row">

        <div class="form-group col-md-3">
          <label class="mr-sm-2" for="inlineFormCustomSelect">General Liability?</label>
          <select class="custom-select mr-sm-2" name="inputGeneralLiability">
            <option selected>Choose...</option>
            <option value="noGL">No</option>
            <option value="yesGL">Yes</option>
            <option value="idkGL">Maybe</option>
          </select>
      </div>
      <div class="form-group col-md-3">
        <label class="mr-sm-2" for="inlineFormCustomSelect">Commercial Auto?</label>
        <select class="custom-select mr-sm-2" name="inputCommercialAuto">
          <option selected>Choose...</option>
          <option value="noAuto">No</option>
          <option value="yesAuto">Yes</option>
          <option value="idkAuto">Maybe</option>
        </select>
    </div>
    <div class="form-group col-md-3">
      <label class="mr-sm-2" for="inlineFormCustomSelect">Workers Compensation?</label>
      <select class="custom-select mr-sm-2" name="inputWorkersComp">
        <option selected>Choose...</option>
        <option value="noWC">No</option>
        <option value="yesWC">Yes</option>
        <option value="idkWC">Maybe</option>
      </select>
  </div>
  <div class="form-group col-md-3">
    <label class="mr-sm-2" for="inlineFormCustomSelect">Umbrella Policy?</label>
    <select class="custom-select mr-sm-2" name="inputUmbrella">
      <option selected>Choose...</option>
      <option value="noUmb">No</option>
      <option value="yesUmb">Yes</option>
      <option value="idkUmb">Maybe</option>
    </select>
</div>


    </div>
    <div class="form-group">
    </div>
      <button type="submit" class="btn btn-primary" href="/review">Continue</button>
    </form>


  </section>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

</body>

</html>
