<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Review</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="css/styles.css">

  <link href="https://fonts.googleapis.com/css?family=Aleo|Montserrat" rel="stylesheet">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</head>

<body>

  <!-- Nav Bar -->
  <section id="home-title">
    <img src="images/accordion-logo.png" alt="accordion">
  </section>
  <section id="banner">

    <nav class="navbar navbar-collapse">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/register">Register</a>
        <a class="nav-link" href="/about">About</a>
      <!--  <a class="nav-link" href="#">Contact</a> -->
    </nav>
  </section>


  <section id="register">

      <h1>Contact us to make an account</h1>

        <p> At this point in development we have open registration in order to encourage users to expirament with the site and thier data. However
        as our app matures, registering on this site will be a paid privilage.</p>
        <p>Go ahead make an account, and have fun!</p>

      </section>

      <section id="register-form">

<div class="container mt-5">
  <h1>Register</h1>

  <div class="row">
    <div class="col-md">
      <div class="card">
        <div class="card-body">

          <!-- Makes POST request to /register route -->
          <form action="/register" method="post">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" name="username">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" name="password">
            </div>
            <button type="submit" class="btn btn-dark">Register</button>
          </form>

        </div>
      </div>
    </div>


      </div>
    </div>

</section>


  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

</body>

</html>
